




<div class="w-64 h-screen bg-gray-800 text-white">
<!-- Logo o título -->
<div class="p-4 border-b border-gray-700">

  <div class="flex justify-end w-full p-4">
  <%= link_to "Courses", courses_path,   data: { turbo_frame: :dashboard }, 
  class: "text-sm font-medium text-white bg-black hover:bg-gray-900 px-4 py-2 rounded-lg transition-colors duration-200" %>

</div>

</div>

<!-- Elementos de navegación -->
<div class="p-4">


</div>
</div>


