



<div class="w-full h-screen bg-indigo-900 pt-12  flex ">
<%= render "sidebar" %>

<div class="w-full flex   h-screen p-0  bg-gray-500  ">







<%= turbo_frame_tag :dashboard %>
</div>
