<% content_for :title, "Showing course" %>


  <div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Showing course</h1>
  <%=  link_to 'Back', courses_path,  class: "px-4 py-2.5 bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-600 hover:to-indigo-600 text-white font-semibold shadow-md transition-all duration-200 ease-in-out block rounded-lg" %>

  </div>

  
 

  <%= render @course %>

</div>
